In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
types_df = pd.read_csv('types.csv')
types_df.head()

,type,strongAgainst,weakAgainst,No Effect (0×)
0,Normal,NaN,"rock, steel",Ghost
1,Fire,"grass, bug, ice, steel","fire, water, rock, dragon",NaN
2,Water,"fire, ground, rock","water, grass, dragon",NaN
3,Grass,"water, ground, rock","fire, grass, poison, flying, bug, dragon, steel",NaN
4,Electric,"water, flying,","electric, grass, dragon",ground

In [9]:
print(types_df.dtypes)

type              object
strongAgainst     object
weakAgainst       object
No Effect (0×)    object
dtype: object

In [12]:
types_df['type'] = types_df['type'].str.lower()
types_df.head()
print(len(types_df))

18